<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-hockeyapp"
      version="1.3.0">
    <name>HockeyApp</name>
    <description>Cordova HockeyApp Plugin for android and ios. (hockeyapp sdk versions ios: 3.8.2 and android: 3.5.0)</description>
    <info>On iOS, you need to disable bitcode. add `ENABLE_BITCODE = false` in `platforms/ios/cordova/build-release.xcconfig`.</info>
    <license>Apache 2.0</license>
    <keywords>cordova,hockeyapp</keywords>
    <author>Paul Panserrieu</author>

    <repo>https://github.com/peutetre/cordova-plugin-hockeyapp.git</repo>
    <issue>https://github.com/peutetre/cordova-plugin-hockeyapp/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/hockeyapp.js" name="HockeyApp">
        <clobbers target="hockeyapp" />
    </js-module>

    <access origin="*.hockeyapp.net" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HockeyApp">
            <param name="android-package" value="com.zengularity.cordova.hockeyapp.HockeyApp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="net.hockeyapp.android.FeedbackActivity" />
            <activity android:name="net.hockeyapp.android.UpdateActivity" />
            <activity android:name="net.hockeyapp.android.LoginActivity" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/HockeyApp.java" target-dir="src/com/zengularity/cordova/hockeyapp" />
        <source-file src="src/android/HockeySDK-Android/libs/HockeySDK-3.5.0.jar" target-dir="libs" framework="true" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HockeyApp">
                <param name="ios-package" value="HockeyApp"/>
            </feature>
        </config-file>

        <header-file src="src/ios/HockeyApp.h" />
        <source-file src="src/ios/HockeyApp.m" />
        <resource-file src="src/ios/HockeySDK.embeddedframework/Resources/HockeySDKResources.bundle" />
        <resource-file src="src/ios/HockeySDK.embeddedframework/Resources/HockeySDK.xcconfig" />
        <framework src="src/ios/HockeySDK.embeddedframework/HockeySDK.framework" custom="true" />
        <framework src="libstdc++.dylib" />
        <framework src="libc++.dylib" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="Foundation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="QuickLook.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />

    </platform>

</plugin>
